.problem {
    padding: 80px 0 60px;

    &__title {
        @include title-section;
    }

    &__block {
        margin-top: 40px;

        p {
           @include text;
        }
    }

    &__bottomdesc {
        margin-top: 40px;
    }
}

@media (max-width:991px) {
    .problem {
        padding: 60px 0 0;
    }
}