.contact {
    min-height: 643px;
    padding: 235px 0 35px;
    position: relative;

    &__title {
        @include title-section;
    }

    &__desc {
        margin-top: 40px;

        p {
            font-weight: 300;
            font-size: 18px;
            line-height: 160%;
            color: $dark-text;
        }

        &-low {
            margin-top: 27px;
        }
    }

    &__bg {
        display: flex;
        position: absolute;
        bottom: -109px;
        left: 0;
        z-index: 1;
        max-width:1040px;
        width: calc(592px + (1040 - 592) * ((100vw - 1040px) / (1440 - 575)));
        height: 290px;
        background:$primary-color;
    }

}

@media (max-width:991px) {
    .contact {
        padding: 40px 0 0 0;

        &__bg {
            width: 100vw;
            height: 246px;
            bottom:0;
            left: -12px;
        }
    }
}

