.nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 15px;
    min-height: 47px;

    @media (max-width: 991px) {
        margin-top: 10px;
    }


}
.logo__link {
    width: 195px;
    height: 47px;
    transition: 0.3s all linear;
    cursor: pointer;

    &:hover {
        // opacity: 0.6;
        transform: translateY(-1px);
    }
}
.menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding-left: 0;
    border-top: 1px solid $blue-text;

    .top {
        display: none;
    }

    &__item {
        list-style-type: none;
        padding: 11px 0px;



        &-arrow {
            display: inline-block;
            width: 10px;
            height: 12px;
            margin-left: 8px;
            path {
                fill: $secondary-color;
            }
        }
    }

    .dropdown-toggle {
        margin-bottom: 5px;

        &::after {
            display: none;
        }
    }


    .dropdown-menu {
        border: none;
        border-radius: 0;
        min-width: 9rem;
        border: 1px solid $primary-color;
    }

    .dropdown-item {
        padding-left: 3px;
    }


    &__link {
        text-decoration: none;
        color: $blue-text;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        transition: all 0.3s linear;

        &:hover {
            text-decoration: none;
            color: $secondary-color;
        }
        &.active-link {
            list-style-type: none;
            padding: 11px 0px;
            transition: all .3s linear;
            border-bottom: 2px solid $secondary-color;
        }

    }
}

@media (max-width: 991px) {
    .top__feedback-link {
        font-size: 14px;
    }

    nav {
        .col-md-3 {
            width: 20%;
        }
        .col-md-9 {
            width: 80%;
        }
        .logo__link {
            display: flex;
            align-items: center;
            width: 125px;

            img {
                width: 100%;
            }
        }

        .menu {
            &__link {
                font-size: 14px;
            }

        }
    }
}

@media (max-width:767px) {
    .top {
        display: none;
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0;
        z-index: 1000;

        .logo__link {
            width:95px;
            height: 30px;
        }

        .menu {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            max-width: 400px;
            width:80%;
            height: 100vh;
            left: -50%;
            visibility: hidden;
            overflow-x: hidden;
            overflow-y: auto;
            border-top:none;
            opacity: 0;
            z-index: -1;
            background: $lang-bgcolor;
            transition: all .5s ease-in-out;

            .top {
                display: flex;
                align-self: center;
                margin: 20px 0;

                .top__feedback-link {
                    font-size: 18px;
                }
            }

            &__item {
                width: 100%;
                border-top:1px solid $blue-text;
                transition: all .5s ease-in-out;


                &__item:hover {
                    border-top:1px solid $secondary-color;
                }



                &:last-child {
                    border-bottom:1px solid $blue-text;
                }
                &:first-child {
                    border-top:none;
                }
            }
            &__link {
                display: inline-block;
                padding: 20px 30px;
                width: 90%;
                font-size: 18px;

                &.active-link {
                    border-bottom: none;
                }
            }
            .burger__icon {
                flex-direction: row-reverse;
            }

            &.show-menu {
                top: 0;
                left:0;
                visibility: visible;
                opacity: 1;
                z-index: 150;
            }
        }
    }

}

@media (max-width:575px)  {
    .nav {
        .menu {
            .top {
               width: 230px;
            }

            &__link {
                font-size: 20px;
            }
        }
    }
}

@media (max-width:374px) {
    .nav {
        .menu {
            .top {
               width: 205px;
            }
        }
    }
}