.partners {
    padding: 110px 0 80px;
    height: auto;

    &__title {
        @include title-section;
    }

    .swiper {
        margin-top: 75px;
        min-height:350px;
        width: 100%;

        &-slide {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            height: 300px;
            width:100%;

            img {
                margin-right: 100px;

                &:nth-child(4), &:nth-child(8) {
                    margin-right: 0;
                }
              }
        }
        &-pagination {
           bottom: 0;
           span {
                width: 13px;
                height: 13px;
                width: 12.71px;
           }
           &-bullet {
               background:$primary-color;
               opacity: 1;

               &-active {
                   background:$secondary-color;
               }
           }
        }

    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px);
    }
}


@media (max-width:1200px) {
    .partners {
        .swiper {
            &-pagination {
                bottom: -1em;
            }
            &-slide {
                img {
                    margin-right: 90px;
                }
            }
        }
    }
}


@media (max-width:991px) {
    .partners {
        .swiper {
            &-slide {
                img {
                    margin-right: 40px;
                }
            }
        }
    }
}

@media (max-width:860px) {
    .partners {
        .swiper {
            &-slide {
                img {
                    margin-right: 55px;

                    &:nth-child(n+7){
                        display: none;
                    }


                }
            }
        }
    }
}

@media (max-width:767px) {
    .partners {
        padding: 80px 0 80px;

        .swiper {
            &-pagination {
                bottom: 0em;
            }

            &-slide {
                img {
                    margin-right: 40px;

                }
            }
        }
    }
}

@media (max-width:640px) {
    .partners {
        padding-bottom: 0;

        .swiper {
            margin-top: 30px;

            &-pagination {
                bottom: 7em;
            }

            &-slide {
                display: flex;
                flex-wrap: nowrap;

                img {
                    margin-right: 40px;


                    &:nth-child(n+3){
                        display: none;
                    }

                }
            }
        }
    }
}
