.portfolio {
    min-height: 645px;
    padding: 150px 0;

    &__title {
        @include title-section;
    }

    &__desc {
        display:block;
        width:49%;
        margin-top: 25px;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.6;
        color: $dark-text;
        margin-bottom: 0;
    }

    &-tab{
      position: relative;
      display: flex;
      justify-content: space-between;
      width:100%;
      border: 2px solid $dark-text; 
      margin-top: 18px;
      padding: 0;

      .nav {
        display: flex;
        margin-top: 0;
        min-height: 322px;
    }

      .tabs {
        display: flex;
        justify-content: space-between;
        min-height: 322px;
        width: 100%;
        
      }

      .nav-tabs {
        display:none;
        border-bottom: none;
        border-right: 1px solid $table-color;

         .nav-item {
          display: flex;
          width: 100%;
          height: 20%;
          align-items: center;
          margin-bottom: 0px;
          border-bottom: 1px solid $table-color;
          color: $blue-text;
          cursor: pointer;
          text-transform: uppercase;
          transition: all .4s ease-in-out;

          &:last-child {
            border-bottom:none;
          }
        }

        .nav-link{
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          border: none;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          color:  $blue-text;
          text-transform: uppercase;
          padding: 0 10px 0 40px;
          text-decoration: none;
          transition: all .4s ease-in-out;
        }

        .nav-item.show .nav-link, .nav-link.active{
          background: $primary-color;
          color: $white-color;
        }

      }

      .tab-content {
        width: 50%;

        #card-boby {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 15px 20px 8px 28px;
          width: 100%; 
          min-height: 322px;
          transition: all .4s ease-in-out;
        }

        .card-boby {
          &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
           
          }

          &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            line-height: 1.2;
            margin-bottom: 16px;
            transition: all .4s ease-in-out;
          }

          &-desc {
            color: $blue-text;
            font-weight: 300;
            margin-bottom: 0;
            text-decoration-line: underline;
            width: 70%;
          }

          &-count {
            color:$secondary-color;
            font-weight: 600;
            margin-bottom: 0;

             span {
              color: $dark-text;
              font-weight: 300;
              margin-left: 5px;
            }
          }
        }
      }
      .card .tab-pane .fade .active .show {
        height: 100%;
      }
    }
  }
    @media(min-width:576px) {
      .portfolio {
        &-tab {
          .nav-tabs {
            display: flex;
            flex-direction: column;
            width: 50%;
            min-height: 322px;
          }

          .card {
            border: none;

            .card-header {
              display:none;
            }

            .collapse{
              display:flex;
              width: 100%;
            }
          }
        }
      }
    }
  @media (max-width:991px) {
          .portfolio {
              padding: 80px 0; 

              &-tab .tab-content .card-boby-count span {
                display: none;
              }
          }
      }
      
  @media (max-width: 767px) {
          .portfolio { 
            .portfolio-tab .tab-content .card-boby-desc {
              width:90%
            }

            &__desc {
              width:100%;
            }
      
          } 
        }
    
@media(max-width:575px){

      .portfolio {
        padding: 40px 0;

        &__title {
            font-size: 35px;
            text-align: center;
        }
        &__desc {
            width:70%;
            font-size: 14px;
            margin: 0 auto;
            text-align: center;
        }
        &-tab  {
          .tab-content {
            width: 100%;

            #card-boby {
              min-height: auto;
              padding: 24px 24px;
            }
          }
          .card-header {
            display: flex;
            align-items: center;
            background:$white-color;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            min-height: 64px;
            padding: 0 24px;
            transition: all .4s ease-in-out;

            &:hover {
              background: $primary-color;
            }

            h5 {
              width:100%;

              a {
                display: flex;
                align-items: center;
                width:100%;
                height: 64px;
                color: $blue-text;
                border: none;
                text-decoration: none;
                font-size: 16px;
                font-weight: normal;
                text-transform: uppercase;
                transition: all .4s ease-in-out;

                &:hover {
                  color: $white-color;
                }
              }

              
            }
            
        }

      }
      }
    
      .portfolio-tab .tab-content > .tab-pane {
          display: flex !important;
          opacity: 1;
      }
    
    }