 /* top */
 .top {
    // position: relative;
    width: 255px;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
  
    margin-top: 50px;

    &__flag {
        position: relative;

        width: 84px;
        height: 70px;
        padding: 10px 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        transition: 5s all linear;

        &::after {
            content: '';
            position: absolute;
            display: block;
          
            width: 15px;
            height: 18px;
          
            top: 5px;
            right:-2px;
          
            background:  url(../img/svg/ArrowDown.svg) no-repeat center;
          
            transition: 0.3s all ease;
        }

        &-active::after {
            transform: rotate(180deg);
        }

        &-lang {
            &:hover, &:active, &:focus {
                cursor: pointer;
                background: $lang-bgcolor;
            }
        }
    }

    &__feedback {
        display: flex;
        justify-content: center;
        align-items:center;
        width: 167px;
        padding: 3.5px  0;
        font-size: 16px;
        font-weight: 500;
      
        border: 1px solid $blue-text;
        border-radius: 5px;
        transition: .3s all linear;
        box-shadow:  $shadow;

        &:hover, &:active, &:focus {
            cursor: pointer;
            border: 1px solid $secondary-color;
            color: $secondary-color;
            transform: translateY(-2px);
        }

        &-link {
            text-decoration: none;
            outline: none;
        }
    }
  }

  .flag__uk {
    display: none;
  }
//   .top__flag--active::after  {
//     transform: rotate(180deg);
//   }
  