 /* top */
 .top {
    width: 259px;
    height: 33px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__feedback {
        display: flex;
        justify-content: center;
        align-items:center;

        width: 167px;
        padding: 3.5px  0;

        font-size: 16px;
        font-weight: 500;

        border: 1px solid $blue-text;
        border-radius: 5px;
        transition: .2s all linear;

        &:hover {
            cursor: pointer;
            border: 1px solid $secondary-color;
        }

        a {
            text-decoration: none;
            outline: none;
            color:$blue-text;

            &:hover, &:focus, &:active  {
                color: $secondary-color;
            }
        }
    }
  }




