.stat {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    width:100%;

    &__direction {
        flex-direction: column;
        justify-content: flex-start;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width:149px;
        height: 133px;


        p {
            font-weight: 300;
            font-size: 18px;
            line-height: 160%;
            color:$blue-text;
            text-align:start;
            margin-bottom: 0;
        }

        &-fz55 {
            font-size: 55px;
            line-height: 73px;
        }

        &-border {
            width: 100%;
            border-bottom: 1px solid $blue-text;
        }
    }
}

@media (max-width:991px) {
    .stat {
        margin-top: 40px;

        &__desc {
            &-border {
                border-bottom: none;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .stat {
        &__direction {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

@media (max-width:575px) {
    .stat {
        display: flex;
        flex-direction: column;

        &__desc {
            margin-bottom: 32px;

            &:last-child {
                margin-bottom: 0;
            }

            &-fz55 {
                margin-bottom: 16px;
            }
        }
    }
}