
@mixin title-section {
    font-family:$font-title;
    font-style: normal;
    font-weight: 300;
    font-size: $fz-44;
    line-height: 1.3;
    color: $blue-text;
    margin-bottom: 0;

    @media (max-width:575px) {
        font-size: 35px;
        text-align: center;
    }
}

@mixin text {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: $dark-text;
    margin-bottom: 0;

    @media (max-width:575px) {
        font-size: 16px;
    }
}