$primary-color: #002F8A;
$secondary-color: #CE2A1D;
$hover-color:#AC1F14;
$blue-text: #0037A1;
$dark-text:#2C2D36;
$table-color:#D1D1D1;
$white-color: #FFFFFF;
$lang-bgcolor:#F8F8F8;
$accordion-color:#f0e6e6;
$yellow-title:#dad1c0;
$social-border:#BDCBE7;
$placeholder:#9C9C9C;
$shadow:0 0 5px rgba(0,0,0,0.5);
$shadow-header:0px 4px 8px rgba(0, 0, 0, 0.09);
$fz-44:44px;
$font-main:'Commissioner', sans-serif;
$font-title:'Roboto Slab', serif;